$primary: #0d6efd;
$secondary: #af1763;
$accent: #198754;

$dark: #191c24;

$positive: #21ba45;
$info: #0077b6;
$warning: #d5a003;
$negative: #ab2e3c;

// $primary   : #31a25e;
// $secondary : #26A69A;
// $accent    : #dd4b39;

// $dark      : #3c3c3c;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;
